/.config/*
!/.config/alacritty
!/.config/azote
!/.config/colors.css
!/.config/epy/config.json
!/.config/fish
!/.config/gtk*
!/.config/mako
!/.config/nvim
!/.config/nwg-launchers
!/.config/pipewire
!/.config/ranger
!/.config/sway
!/.config/swaylock
!/.config/waybar
!/.config/wofi
!/.config/kitty
!/scripts
__pycache__/
/.config/ranger/plugins/*
.azotebg
