/.config/*
!/.config/alacritty
!/.config/azote
!/.config/colors.css
!/.config/epy/config.json
!/.config/fish
!/.config/gtk*
!/.config/mako
!/.config/nvim
!/.config/nwg-launchers
!/.config/pipewire
!/.config/ranger
!/.config/sway
!/.config/swaylock
!/.config/waybar
!/.config/wofi
!/.config/kitty
!/scripts
.config/ranger/plugins/__pycache__/*
.config/ranger/plugins/ranger_devicons/__pycache__/*
.config/waybar/scripts/__pycache__/*
.vim/bundle/vim-devicons
