/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */


/*
Polar Night
nord0  #2e3440
nord1  #3b4252
nord2  #434c5e
nord3  #4c566a
Snow Storm
nord4  #d8dee9
nord5  #e5e9f0
nord6  #eceff4
Frost
nord7  #8fbcbb
nord8  #88c0d0
nord9  #81a1c1
nord10 #5e81ac
Aurora
nord11 #bf616a
nord12 #d08770
nord13 #ebcb8b
nord14 #a3be8c
nord15 #b48ead
*/

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    color: #eceff4;
    border: none;
    border-radius: 0;
    padding: 0 0;
    font-family:Hack;
    font-size: 13px;
   }

window#waybar {
    /* background:#2e3440; */
    border-radius: 5;
    background-color: rgba(100, 100, 100, 0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    padding: 2 2;
    /* background: shade(alpha(@borders, 0.9), 2.25); */
}

.modules-left,.modules-right,.modules-center {
    margin-top: 8;
    margin-left: 10;
    margin-right: 10;
    border-radius: 6;
    padding: 7;
    background:#2e3440;
}

#workspaces {
   padding: 0;
   margin: 0;
}

#workspaces button {
    color: #eceff4;
    min-height: 0;
    border-color: shade(alpha(@borders, 0.9), 2.25);
    padding: 0 7px;
    margin: 0;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
    border-color: #8db0AE;
}

#workspaces button.urgent {
    background: #bf616A;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#mode {
    color: #eceff4;
}

#clock, #battery, #cpu, #memory, #idle_inhibitor, #temperature, #custom-keyboard-layout, #backlight, #network, #pulseaudio, #mode, #window, #custom-power, #custom-pacman {
    margin-right: 5px;
    margin-left: 5px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */
@keyframes blink {
    to {
        color: #4c566a;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-launcher,#custom-power{
    font-size: 13px;
    border-style: hidden;
}

#tray {
   background-color: #8db0AE;
   color: #2e3440;
   padding: 0 5px;
}

#custom-launcher {
   background-color: #8db0AE;
   font-size: 13px;
   color: #2e3440;
}

#custom-arrowL0 {
   background-color: #2e3440;
   /* color: shade(alpha(@borders, 1.0), 2.25); */
   color: #8db0AE;
}

#window{
    border-style: hidden;
    /* margin-top:1px; */
}

#mode{
    margin-bottom:0px;
}

#pulseaudio.muted {
    color: #3b4252;
}

#temperature.critical {
    color: #bf616a;
}

#network.disabled {
    color:#bf616a;
}

