/*
scheme: "Nord"
author: "arcticicestudio"
*/

@define-color base10 #2E3440;
@define-color base00 #3B4252;
@define-color base02 #434C5E;
@define-color base03 #4C566A;
@define-color base04 #D8DEE9;
@define-color base05 #E5E9F0;
@define-color base06 #ECEFF4;
@define-color base07 #8FBCBB;
@define-color base08 #88C0D0;
@define-color base09 #81A1C1;
@define-color base0A #5E81AC;
@define-color base0B #BF616A;
@define-color base0C #D08770;
@define-color base0D #EBCB8B;
@define-color base0E #A3BE8C;
@define-color base0F #B48EAD;

#entry {
   border-radius: 0px;
   padding: 5px 2px 5px 2px;
   margin: 0px 4px 0px 4px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#entry:selected {
   color: @base0D;
   background-color: @base02;
   padding: 7px;
}

#text:selected {
   color: @base04;
}

#window {
   animation-name: fadeIn;
   animation-duration: 0.4s;
   background-color: transparent;
   font-family: Hack;
/* font-size:14; */
}

#input {
   border: none;
   background-color: @base10;
   border-radius: 0px;
   margin: 4px 4px 8px 4px;
   padding: 8px;
}

#inner-box {
   color: @base04;
   border-radius: 0px;
/* margin-right: 180px; */
}

#outer-box {
   background-color: @base00;
   border-radius: 0px;
   border: 1px solid #474747;
   padding: 10px;
   box-shadow: 0px 0px 3px 1px  #0F0F0F;
   margin: 25px;
}

#scroll {
}

#text {
   color: @base04;
   background-color: transparent;
}

#img {
   background-color: transparent;
}
